@model eShopFlix.Web.Models.CartTotalsModel
@{
    const string currencySymbol = "?";
}
@if (Model != null)
{
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
            Subtotal
            <span>@currencySymbol@Model.Subtotal.ToString("N2")</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
            Shipping
            <span>+ @currencySymbol@Model.ShippingTotal.ToString("N2")</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
            Discounts
            <span>- @currencySymbol@Model.DiscountTotal.ToString("N2")</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
            Tax
            <span>+ @currencySymbol@Model.TaxTotal.ToString("N2")</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center  px-0 mb-3">
            <strong>Total Amount</strong>
            <span><strong>@currencySymbol@Model.GrandTotal.ToString("N2")</strong></span>
        </li>
    </ul>
}
else
{
    <span class="text-muted">No totals available.</span>
}
